<!DOCTYPE html>
<html lang="en" id="all">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ title }} · LibreClash Dashboard</title>
    <link rel="stylesheet" href="https://onlix.me/cdn/bi.css">
    
    <link rel="stylesheet" href="/static/stylesheets/base.css">
    <link rel="stylesheet" href="/static/stylesheets/home.css">
    <link rel="stylesheet" href="/static/stylesheets/utils.css">
    <link rel="stylesheet" href="/static/stylesheets/helpers.css">

    <link rel="icon" type="image/x-icon" href="/static/assets/icon.png">
</head>
<body onclick="">